html, body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: #4a4a4a;
    margin: 0 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 12px 0;
}

:root {
    --primary-color: #4a4a4a;
    --secondary-color1: #9b9b9b;
    --secondary-color2: #d8d8d8;
}

/* Navigation Section */
nav {
    display: flex;
    align-items: center;
    max-height: 64px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: white;
    top: 0;
}

#logo {
    display: flex;
    width: 50%;
    height: 32px;
    align-items: center;
}

#logo span {
    color: #9b9b9b;
}

#navigation {
    width: 50%;
    display: flex;
}

#navigation ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;
}

#navigation ul li {
    text-align: center;
    padding: 8px;    
}

#navigation ul li:last-child {
    padding-right: 24px;
}

#navigation a {
    text-decoration: none;
    color: #4a4a4a;
}

/* Header Section */
header {
    display: flex;
    position: relative;
    top: 64px;
    width: 100%;
    background-color: #d8d8d8;
}

.image-container {
    padding: 32px 24px;
    width: 60%;
}

.image-container img {
    max-width: 100%;
    max-height: auto;
}

.text-header {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    margin: auto 0;
}

.text-header h1 {
    font-size: 48px;
    font-weight: bolder;
}

header a {
    display: block;
    text-align: center;
    margin: 12px 0;
}

a.button {
    max-width: 100%;
    text-decoration: none;
    padding: 8px;
    color: #d8d8d8;
    background-color: #4a4a4a;
}

/* Info Section */

#info-section {
    position: relative;
    top: 64px;
    padding-bottom: 32px;
    display: flex;
}

.i-s-left {
    width: 60%;
}

.i-s-left .image-container {
    width: 100%;
}

.i-s-right {
    width: 40%;
}

.i-section {
    display: flex;
    border: #d8d8d8 solid 1px;
}

.i-section img {
    margin: 16px;
    width: 35%;
    height: auto;
}

.i-s-quote {
    margin-left: 24px;
}

.i-s-quote h2 {
    font-size: 42px;
}

.i-s-quote h4 {
    font-weight: normal;
    font-size: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 16px;
}

.about-title {
    font-size: 36px;
    margin: 4px;
}

.about-info {
    font-weight: normal;
    font-size: 20px;
    margin: 4px;
}

.about a {
    margin: 4px;
    text-decoration: none;
    font-size: 20px;
}